<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @art.name %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @art.completed_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @art.user %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @art.artist %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
