<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @art.name %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @art.completed_at.year %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @art.artist.name, artist %>
</p>

<p>
  <strong>Image:</strong>
 	<%= image_tag @art.image.url(:medium) %>
</p>


<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
