<div class="row">
	<div class="col-md-8">
		<div class="row artshow">
			<p id="notice"><%= notice %></p>
		</div>
		<div class="row">
			<p>
			 	<%= image_tag @art.image.url, :class => "artshowimg" %>
			</p>
		</div>
	</div>
	<div class="col-md-4 info">
		<div class="row">
			<p class="artshow">
			  <strong><%= @art.name %></strong>
			</p>
		</div>
		<div class="row">
			<p class="artshow">
			  <strong>Completed in:</strong>
			  <%= @art.completed_at %>
			</p>
		</div>
		<div class="row">
			<p class="artshow">
			  <strong>Artist:</strong>
			  <%= link_to @art.artist.name %>
			</p>
		</div>
		<% if user_signed_in? && current_user.admin? %>
			<div class="row">
				<div class="artshow">
					<%= link_to 'Edit', edit_art_path(@art) %> |
					<%= link_to 'Back', arts_path %>
				</div>
			</div>
		<% end %>
	</div>
</div>