<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @lease.price %>
</p>

<p>
  <strong>Lease start date:</strong>
  <%= @lease.lease_start_date %>
</p>

<p>
  <strong>Lease end date:</strong>
  <%= @lease.lease_end_date %>
</p>

<p>
  <strong>Art:</strong>
  <%= @lease.art_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @lease.client_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @lease.user %>
</p>

<%= link_to 'Edit', edit_lease_path(@lease) %> |
<%= link_to 'Back', leases_path %>
